.dropdown_wrapper {
  position: relative;
}

.dropdown_content {
  position: absolute;
  background-color: white;
  min-width: 150px;
  border-radius: 10px;
  border: 3px solid #BDBDBD;
  padding: 16px;
  margin: 12px 0px;
  left: -10px;
  text-align: left;
  z-index: 2;
}

.dropdown_content > * {
  display: block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: black;
}
