.SearchBar {
  border: 2px solid #DAEAEA;
}

.Enter {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #2A6180;
  font-weight: normal;
  margin: 0px 0px;
  background: #FADCD9;
}

.Search-Description {
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  color: #2A6180;
  font-weight: normal;
}

.center{
  text-align: center;
  margin-top: 5%;
  list-style-type: none;
}
