.searchbar__wrapper {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 4px;
}

.searchbar__wrapper button {
  display: inline-block;
  position: relative;
  top: -3px;

  width: 14%;
  max-width: 120px;
  height: 36px;

  background: #6994a2;
  border-radius: 5px;
  border: none;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 500;
}

.searchbar__wrapper input {
  width: 84%;
  display: inline-block;
  margin: 0px !important;
}

.autocomplete__wrapper {
  position: absolute;
  width: 84%;
}

.suggestions {
  background-color: white;
  border: 2px solid #e0e0e0;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 150px;
  overflow-y: auto;
  padding-left: 0;
  width: 100%;

  display: inline-block;
  position: relative;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion_active,
.suggestions li:hover {
  background-color: #e0e0e0;
  color: black;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 2px solid #e0e0e0;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 768px) {
  .searchbar__wrapper input {
    width: 75%;
  }
  .autocomplete__wrapper {
    width: 75%;
  }
  .searchbar__wrapper button {
    width: 20%;
  }

}
